{% extends 'base.html' %}

{% block html_head %}
    <script type="text/javascript" src="./static/js/request.js"></script>
{% endblock %}


{% block content %}

{#
    {% for r in rses %}
        <p><a href="./show_rse?rse={{r}}">{{r}}</a></p>
    {% endfor %}
#}

<p><span style="color:gray">sort by:</span>
    [<a href="?sort=rse">RSE</a>]
    [CE run: <a href="?sort=-cc_run">latest</a> | <a href="?sort=cc_run">oldest</a>]
    [Unmerged run:  <a href="?sort=-um_run">latest</a> | <a href="?sort=um_run">oldest</a>]
</p>


<script type="text/javascript">

    var DX = 5;
    var DY0 = 4;
    var DY = DY0*3;
    var N = 10;

    var colors={
        "started": "#AAF", 
        "done": "#AFA", 
        "failed": "#FAA", 
        "aborted": "#EDA",
        "null": "#FFF",
        "other": "#BBB" 
    };
    
    function cell_color(sts)
    {
        if( sts == null )   sts = "null";
        var color = colors[sts];
        if( color == null )
            color=colors["other"];
        return color;
    }
    
    function display_current_old(element_id, current, old)
    {
        var td = document.getElementById(element_id);
        if( current == null )
            td.innerHTML = "";
        else if( old == null )
            td.innerHTML = '' + current + "(?)";
        else if( old == 0 )
            td.innerHTML = '' + current;
        else
            td.innerHTML = '' + current + '(' + old + ')';
        if( old != null && old > 0 ) td.className = "with_old";
    }
    
    function display_diffs(rse, prev_run, counts)
    {
        display_current_old("nmissing_"+rse+"_td", counts.nmissing, counts.nmissing_old);
        display_current_old("ndark_"+rse+"_td", counts.ndark, counts.ndark_old);
    }
    
    function display_cc_status_chart(id_prefix, status_list)
    {
        var td = document.getElementById(id_prefix+"_td");
        if ( td == null )
            return;
        
        var loading_img = document.getElementById(id_prefix+"_loading");
        td.removeChild(loading_img);
        td.style["text-align"] = "right";
        
        var canvas = document.createElement("canvas");
        var n = Math.min(N, status_list.length);
        canvas.setAttribute("height", DY);
        canvas.setAttribute("width", DX*N);
        canvas.style.visibility=""
        
        var x = DX*(N-n);
        var ctx = canvas.getContext("2d");
        ctx.clearRect(0,0,DX*N,DY);      
        for( var i = 0; i < n; i++ )
        {
            var row = status_list[i];
            var cc_color = cell_color(row.cc);
            var dark_color = cell_color(row.dark);
            var missing_color = cell_color(row.missing);
            
            ctx.fillStyle = dark_color;
            ctx.fillRect(x,0,DX,DY0);
            
            ctx.fillStyle = missing_color;
            ctx.fillRect(x,DY0,DX,DY0);
            
            ctx.fillStyle = cc_color;
            ctx.fillRect(x,2*DY0,DX,DY0);
            
            
            x += DX;
        }
        td.appendChild(canvas);
    };
    
    function init_status_chart(id_prefix)
    {
        return;
    };
    
    var rse_list = [];
    
</script>



<table class="data" id="data">

<tr>
    <th rowspan=2>RSE</th>
    <th rowspan=2>History</th>
    <th rowspan=2>Last run</th>
    <th rowspan=2>Status</th>
    <th colspan=3>Dark files</th>
    <th colspan=2>Missing files</th>
</tr>
<tr>
    <th>Detected (old)</th>
    <th>Confirmed</th>
    <th>Action status</th>

    <th>Detected (old)</th>
    <th>Action status</th>
</tr>


{% for info in infos %}
    {% set rse = info["rse"] %}
    
    <script type="text/javascript">
        rse_list.push("{{rse}}");
    </script>
    
    {% set cc_summary = info["summary"] %}

    <tr>
        <td><a href="./show_rse?rse={{rse}}">{{rse}}</a></td>
        <td id="{{rse}}_cc_status_td" style="vertical-align: middle; text-align: center">
            <img id="{{rse}}_cc_status_loading" src="./static/images/loading.gif" height=4/>
        </td>

        <script type="text/javascript">
            init_status_chart("{{rse}}_cc_status");
        </script>

        <td><a href="./show_run?rse={{rse}}&run={{cc_summary['run']}}">{{cc_summary['start_time']|as_date}}</a></td>
        <td class="{{cc_summary['status']}}">{{cc_summary["status"]|none_as_blank}}</td>

        {% set dark_stats = cc_summary["dark_stats"] %}
        <td id="ndark_{{rse}}_td">{% if not dark_stats["detected"] is none %}{{dark_stats["detected"]}}(...){% endif %}</td>
        <td>{{dark_stats["confirmed"]|none_as_blank}}</td>
        <td class="{{cc_summary['dark_stats']['action_status']|none_as_blank}}">
            {{dark_stats['action_status']|none_as_blank}}
            {#
            {%- if dark_stats['action_status'] == "aborted" and 
                    dark_stats['aborted_reason'] -%}
                    : {{ dark_stats['aborted_reason'] }}
            {%- endif %}
            #}
        </td>

        {% set missing_stats = cc_summary["missing_stats"] %}
        <td id="nmissing_{{rse}}_td">{% if not missing_stats["detected"] is none %}{{missing_stats["detected"]}}(...){% endif %}</td>
        <td class="{{missing_stats['action_status']|none_as_blank}}">
            {{missing_stats['action_status']|none_as_blank}}
        </td>
    </tr>
{% endfor %}
            
</table>

<script type="text/javascript">
    var history_receiver = {
        data_received: function(hist) {
            for ( rse in hist )
            {
                var info = hist[rse];
                var cc_total = info.cc_total;
                var cc_errors = cc_total-info.cc_success;
                if( cc_total > 0 )
                    display_cc_status_chart(rse+"_cc_status", info.cc_status_history.slice(-N));
            }
        }
    };
    
    var diffs_receiver = {
        data_received: function(diffs) {
            for ( rse in diffs )
            {
                var info = diffs[rse];
                display_current_old("nmissing_"+rse+"_td", info.nmissing, info.nmissing_old);
                display_current_old("ndark_"+rse+"_td", info.ndark, info.ndark_old);
            }
        }
    };
    
    function request_info(rse_lst)
    {
        var batch_size = 10;
        var batch = [];
        var requests = [];

        function request_batch(rse_batch, requests)
        {
            var url = "./status_history?rses=" + rse_batch.join(",");
            requests.push(HTTPRequest(url, history_receiver, null, "json"));
            var url = "./lists_diffs?rses=" + rse_batch.join(",");
            requests.push(HTTPRequest(url, diffs_receiver, null, "json"));
        }
    
        function batch_requests(url_base, rse_list, batch_size, receiver)
        {
            // randomize
            var randomized = rse_lst.sort(() => Math.random() - 0.5);
            var batch = [];
            var requests = [];
            for( rse of randomized )
            {
                batch.push(rse);
                if( batch.length >= batch_size )
                {
                    var url = url_base + "?rses=" + batch.join(",");
                    requests.push(HTTPRequest(url, receiver, null, "json"));
                    batch = [];
                }   
            }
            if( batch.length > 0 )
            {
                var url = url_base + "?rses=" + batch.join(",");
                requests.push(HTTPRequest(url, receiver, null, "json"));
            }
            return requests;
        }
        batch_requests("./status_history", rse_list, 20, history_receiver);
        batch_requests("./lists_diffs", rse_list, 2, diffs_receiver);
    }
    
    var requests=request_info(rse_list);
    //HTTPRequest("./status_history", history_receiver, null, "json");
    
</script>
    
    
    
    

{% endblock %}
