{% extends 'base.html' %}

{% block html_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block headline %}RSE {{rse}}{% endblock %}

{% block content %}

<table class="placement">
    <tr>
        <td style="padding-top: 30px"><h1>Consistency Enforcement</h1>
        </td>
    </tr>
	<tr>
		<td>
			<table class="data">
			    <tr>
			        <th rowspan=2>Run</th><th rowspan=2>Start time</th><th rowspan=2>Detection Status</th><th colspan=4>Dark</th><th colspan=4>Missing</th>
                    <th colspan=4>Empty directories</th>
			    </tr>
			    <tr>
			        <th>Detected (old)</th><th>Confirmed</th><th>Acted on</th><th>Action status</th>
			        <th>Detected (old)</th><th>Confirmed</th><th>Acted on</th><th>Action status</th>
			        <th>Detected</th><th>Confirmed</th><th>Acted on</th><th>Action status</th>
			    </tr>
			    {% for t, info in cc_runs %}
                    {% set summary = info["summary"] %}
                    {% set dark_stats = summary["dark_stats"] %}
                    {% set missing_stats = summary["missing_stats"] %}
                    {% set ed_stats = summary["empty_dirs_stats"] %}
			        <tr>
			            <td><a href="./show_run?rse={{rse}}&run={{t}}" class="run">{{t}}</a></td>
			            <td>{{info["start_time"]|as_dt}}</td>
			            <td class="{{summary['detection_status'] or ''}}">
                            {%- if summary["detection_status"] == "started" and "running" in summary -%}
                                {{summary["running"] or ""}} started
                            {%- else -%}
                                {{summary["detection_status"] or ""}}
                            {%- endif -%}
                        </td>
                        
                        <!-- dark -->
			            <td>{% if not dark_stats["detected"] is none %}
                                {{dark_stats["detected"]}} ({{info["old_dark"]|if_none("?")}})
                            {% endif %}
                        </td>
			            <td>{{dark_stats["confirmed"]|none_as_blank}}</td>
			            <td>{{dark_stats["acted_on"]|none_as_blank}}</td>
                        <td class="{{dark_stats['action_status']|none_as_blank}}">{{dark_stats['action_status']|none_as_blank}}
                            {%- if dark_stats['aborted_reason'] %}: {{dark_stats['aborted_reason']}}
                            {%- endif -%}
                        </td>

                        <!-- missing -->
			            <td>{% if not missing_stats["detected"] is none %}
                                {{missing_stats["detected"]}} ({{info["old_missing"]|if_none("?")}})
                            {% endif %}
                        </td>
			            <td>{{missing_stats["confirmed"]|none_as_blank}}</td>
			            <td>{{missing_stats["acted_on"]|none_as_blank}}</td>
                        <td class="{{missing_stats['action_status']|none_as_blank}}">
                            {{missing_stats['action_status']|none_as_blank}}
                            {%- if missing_stats['aborted_reason'] %}: {{missing_stats["aborted_reason"]}}
                            {%- endif -%}
                        </td>

                        <!-- empty directories -->
			            <td>{% if not ed_stats["detected"] is none %}
                                {{ed_stats["detected"]}}
                            {% endif %}
                        </td>
			            <td>{{ed_stats["confirmed"]|none_as_blank}}</td>
			            <td>{{ed_stats["acted_on"]|none_as_blank}}</td>
                        <td class="{{ed_stats['action_status']|none_as_blank}}">
                            {{ed_stats['action_status']|none_as_blank}}
                        </td>
			        </tr>
			    {% endfor %}
    
			</table>
		</td>
	</tr>
        <tr>
    		<td style="padding:1px 10px">
    			<div id="dark_chart"></div>
    		</td>
        <tr>
        </tr>
    		<td style="padding:1px 10px">
    			<div id="missing_chart"></div>
    		</td>
        <tr>
        </tr>
    		<td style="padding:1px 10px">
    			<div id="empty_chart"></div>
    		</td>
        </tr>

</table>


<script type="text/javascript">
			
	function drawCCChart()
	{
		// runs is in reversed order
		var dark_data = [
			{% for t, info in cc_runs|reverse %}
            {{',' if not loop.first }}
                [	    
                    new Date({{info["start_time_milliseconds"]}}), 
                    {{info["ndark"] if info["ndark"] is not none else "null"}},
                    {{info["confirmed_dark"] if info["confirmed_dark"] is not none else "null"}},
                    {{info["acted_dark"] if info["acted_dark"] is not none else "null"}},
                ]
			{% endfor %}
		];
	
		var missing_data = [
			{% for t, info in cc_runs|reverse %}
            {{',' if not loop.first }}
                [	    
                    new Date({{info["start_time_milliseconds"]}}), 
                    {{info["nmissing"] if info["nmissing"] is not none else "null"}},
                    {{info["acted_missing"] if info["acted_missing"] is not none else "null"}}
                ]
			{% endfor %}
		];
        
		var empty_data = [
			{% for t, info in cc_runs|reverse %}
            {{',' if not loop.first }}
                [	    
                    new Date({{info["start_time_milliseconds"]}}), 
                    {{info["detected_empty"] if info["detected_empty"] is not none else "null"}},
                    {{info["confirmed_empty"] if info["confirmed_empty"] is not none else "null"}},
                    {{info["acted_empty"] if info["acted_empty"] is not none else "null"}}
                ]
			{% endfor %}
		];
                
                var common_options = {
                        chartArea: {
                                left: 100,
                                right: 200
                        },
                        legend: { position: "right" },
                        width: 600,
                        height: 200,
                        hAxis: {
                            format: "M/d/yy",
                            title: "Date"
                        },
                        vAxis: {
                            logScale: true,
                            title: "Number of files"
                        }
                }

                var empty_options = Object.assign({}, common_options, {
                          title: 'Empty directory counts',
        		  colors: ["#4A4", "1A1", "181"]
		});

		var dark_options = Object.assign({}, common_options, {
                          title: 'Dark file counts',
        		colors: ["#888", "444", "222", "FAA", "F88"]
		        });

		var missing_options = Object.assign({}, common_options, {
                          title: 'Missing file counts',
        		colors: ["FAA", "F88"]
		        });
                
        var darkTable = new google.visualization.DataTable();
        darkTable.addColumn('date', 'Date');
        darkTable.addColumn('number', 'Detected dark');
        darkTable.addColumn('number', 'Confirmed dark');
        darkTable.addColumn('number', 'Acted dark');
        darkTable.addRows(dark_data);
        
        var emptyTable = new google.visualization.DataTable();
        emptyTable.addColumn('date', 'Date');
        emptyTable.addColumn('number', 'Detected empty');
        emptyTable.addColumn('number', 'Confirmed empty');
        emptyTable.addColumn('number', 'Acted empty');
        emptyTable.addRows(empty_data);

        var missingTable = new google.visualization.DataTable();
        missingTable.addColumn('date', 'Date');
        missingTable.addColumn('number', 'Detected missing');
        missingTable.addColumn('number', 'Acted missing');
        missingTable.addRows(missing_data);
        
		var dark_chart = new google.visualization.LineChart(document.getElementById('dark_chart'));
		dark_chart.draw(darkTable, dark_options);
		var missing_chart = new google.visualization.LineChart(document.getElementById('missing_chart'));
		missing_chart.draw(missingTable, missing_options);
		var empty_chart = new google.visualization.LineChart(document.getElementById('empty_chart'));
		empty_chart.draw(emptyTable, empty_options);
	}

    function drawCharts()
    {
        drawCCChart();
    }
    google.charts.load('current', {'packages':['line', 'bar', 'corechart']});
    google.charts.setOnLoadCallback(drawCharts);
</script>

{% endblock %}
