{% extends 'base.html' %}

{% block html_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block headline %}RSE {{rse}}{% endblock %}

{% block content %}

<table class="placement">
    <tr>
        <td colspan=3 style="padding-top: 30px"><h1>Consistency Enforcement</h1>
        </td>
    </tr>
	<tr>
		<td colspan=2>
			<table class="data">
			    <tr>
			        <th rowspan=2>Run</th><th rowspan=2>Start time</th><th rowspan=2>Status</th><th colspan=4>Dark</th><th colspan=4>Missing</th>
			    </tr>
			    <tr>
			        <th>Detected (old)</th><th>Confirmed</th><th>Acted on</th><th>Action status</th>
			        <th>Detected (old)</th><th>Confirmed</th><th>Acted on</th><th>Action status</th>
			    </tr>
			    {% for t, info in cc_runs %}
                    {% set summary = info["summary"] %}
                    {% set dark_stats = summary["dark_stats"] %}
                    {% set missing_stats = summary["missing_stats"] %}
			        <tr>
			            <td><a href="./show_run?rse={{rse}}&run={{t}}" class="run">{{t}}</a></td>
			            <td>{{info["start_time"]|as_dt}}</td>
			            <td class="{{summary['detection_status'] or ''}}">
                            {%- if summary["detection_status"] == "started" and "running" in summary -%}
                                {{summary["running"] or ""}} started
                            {%- else -%}
                                {{summary["status"] or ""}}
                            {%- endif -%}
                        </td>
                        
                        <!-- dark -->
			            <td>{% if not dark_stats["detected"] is none %}
                                {{dark_stats["detected"]}} ({{info["old_dark"]|if_none("?")}})
                            {% endif %}
                        </td>
			            <td>{{dark_stats["confirmed"]|none_as_blank}}</td>
			            <td>{{dark_stats["acted_on"]|none_as_blank}}</td>
                        <td class="{{dark_stats['action_status']|none_as_blank}}">{{dark_stats['action_status']|none_as_blank}}
                            {%- if dark_stats['aborted_reason'] %}: {{dark_stats['aborted_reason']}}
                            {%- endif -%}
                        </td>

                        <!-- missing -->
			            <td>{% if not missing_stats["detected"] is none %}
                                {{missing_stats["detected"]}} ({{info["old_missing"]|if_none("?")}})
                            {% endif %}
                        </td>
			            <td>{{missing_stats["confirmed"]|none_as_blank}}</td>
			            <td>{{missing_stats["acted_on"]|none_as_blank}}</td>
                        <td class="{{info['missing_status']|none_as_blank}}">
                            {{missing_stats['action_status']|none_as_blank}}
                            {%- if missing_stats['aborted_reason'] %}: {{missing_stats["aborted_reason"]}}
                            {%- endif -%}
                        </td>
			        </tr>
			    {% endfor %}
    
			</table>
		</td>
		<td style="padding:1px 50px">
			<div id="cc_chart"></div>
		</td>
	</tr>

</table>


<script type="text/javascript">
			
	function drawCCChart()
	{
		// runs is in reversed order
		var data = [
			{% for t, info in cc_runs|reverse %}
            {{',' if not loop.first }}
            [	    new Date({{info["start_time_milliseconds"]}}), 
					{{info["ndark"] if info["ndark"] is not none else "null"}},
					{{info["nmissing"] if info["nmissing"] is not none else "null"}}
				]
			{% endfor %}
		];
	
		var options = {
                  title: 'Statistics by run',
                  legend: { position: "top" },
                  width: 400,
                  height: 300,
				  colors: ["#888", "FA8"],
                  hAxis: {
                      format: "M/d/yy",
                      title: "Date"
                  },
                  vAxis: {
                      logScale: true,
                      title: "Number of files"
                  }
		        };
                
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('date', 'Date');
        dataTable.addColumn('number', 'Detected dark');
        dataTable.addColumn('number', 'Detected missing');
        dataTable.addRows(data);
        
		var chart = new google.visualization.LineChart(document.getElementById('cc_chart'));
		chart.draw(dataTable, options);
	}

    function drawCharts()
    {
        drawCCChart();
    }
    google.charts.load('current', {'packages':['line', 'bar', 'corechart']});
    google.charts.setOnLoadCallback(drawCharts);
</script>

{% endblock %}
