{% extends 'base.html' %}

{% block html_head %}
    <script type="text/javascript" src="./static/js/request.js"></script>
{% endblock %}


{% block content %}

{#
    {% for r in rses %}
        <p><a href="./show_rse?rse={{r}}">{{r}}</a></p>
    {% endfor %}
#}

<p><span style="color:gray">sort by:</span>
    <a href="?sort=rse">RSE</a> |
    CC run <a href="?sort=-cc_run">(+)</a> <a href="?sort=cc_run">(-)</a> |
    unmerged run  <a href="?sort=-um_run">(+)</a> <a href="?sort=um_run">(-)</a>
</p>

<table class="data" id="data">

<tr>
    <th rowspan=3>RSE</th>
    <th colspan=10>Data Consistency</th>
    <th colspan=5>Unmerged Files</th>
</tr>
<tr>
    <th rowspan=2>Errors</th>
    <th rowspan=2>Last run</th>
    <th rowspan=2>Status</th>
    <th colspan=4>Dark files</th>
    <th colspan=3>Missing files</th>

    <th rowspan=2>Errors</th>
    <th rowspan=2>Last run</th>
    <th rowspan=2>Elapsed time</th>
    <th rowspan=2>Status</th>
    <th rowspan=2>Files</th>
</tr>
<tr>
    <th>Detected</th>
    <th>Confirmed</th>
    <th>Acted</th>
    <th>Action status</th>

    <th>Detected</th>
    <th>Acted</th>
    <th>Action status</th>
</tr>


<script type="text/javascript">

    var DX = 5;
    var DY = 10;
    var N = 10;
    
    function display_status_chart(canvas_id, status_list)
    {
        var canvas = document.getElementById(canvas_id);
        if( canvas == null )
            return;
        var n = Math.min(N, status_list.length);
        var dx = 5;
        var dy = 10;
        canvas.setAttribute("height", DY);
        canvas.setAttribute("width", DX*10);
        
        var colors={
            "started": "#FFC", 
            "done": "#CFC", 
            "failed": "#FCC", 
            "aborted": "#EDC", 
        };
        
        var x = 0;
        var ctx = canvas.getContext("2d");
        for( var i = 0; i < n; i++ )
        {
            var sts = status_list[i];
            var color = colors[sts];
            if( color == null )
                color="#DDD";
            ctx.fillStyle = color;
            ctx.fillRect(x,0,x+DX,DY);
            x += DX;
        }
    };
    
    function init_status_chart(canvas_id)
    {
        var canvas = document.getElementById(canvas_id);
        if( canvas == null )
            return;
        
        var ctx = canvas.getContext("2d");
        ctx.fillStyle = "#FFF";
        ctx.fillRect(0,0,DX*N,DY);      
        
        var x = DX + DX/2;
        var y = DY/2;
        ctx.fillStyle = "#444";
        for( var i = 1; i<N-1; i++ )
            ctx.fillRect(x-1, x+1, y-1, y+1);
    }
    
</script>

{% for info in infos %}
    {% set rse = info["rse"] %}
    {% set cc_summary = info["cc_summary"] %}
    {% set um_summary = info["um_summary"] %}

    <tr>
        <td><a href="./show_rse?rse={{rse}}">{{rse}}</a></td>
        {% if cc_summary is none %}
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        {% else %}
            <td style="vertical-align: middle"><canvas id="{{rse}}_cc_status_chart" width=50 height=10></canvas></td>
            <script type="text/javascript">
                init_status_chart("{{rse}}_cc_status_chart");
            </script>
                
            <td><a href="./show_run?rse={{rse}}&run={{cc_summary['run']}}">{{cc_summary['start_time']|as_dt}}</a></td>
            <td class="{{cc_summary['status']}}">{{cc_summary["status"]|none_as_blank}}</td>
            <td>{{cc_summary["dark_stats"]["detected"]|none_as_blank}}</td>
            <td>{{cc_summary["dark_stats"]["confirmed"]|none_as_blank}}</td>
            <td>{{cc_summary["dark_stats"]["acted_on"]|none_as_blank}}</td>
            <td class="{{cc_summary['dark_stats']['action_status']|none_as_blank}}">
                {{cc_summary['dark_stats']['action_status']|none_as_blank}}
            </td>
            
            <td>{{cc_summary["missing_stats"]["detected"]|none_as_blank}}</td>
            <td>{{cc_summary["missing_stats"]["acted_on"]|none_as_blank}}</td>
            <td class="{{cc_summary['missing_stats']['action_status']|none_as_blank}}">
                {{cc_summary['missing_stats']['action_status']|none_as_blank}}
            </td>
        {% endif %}
        
        {% if um_summary is none %}
            <td></td><td></td><td></td><td></td><td></td>
        {% else %}
            <td style="vertical-align: middle"><canvas id="{{rse}}_um_status_chart" width=50 height=10></canvas></td>
            <script type="text/javascript">
                init_status_chart("{{rse}}_um_status_chart");
            </script>

            <td><a href="./unmerged/show_run?rse={{rse}}&run={{um_summary['run']}}">{{um_summary['start_time']|as_dt}}</a></td>
            <td>{{um_summary['elapsed_time']|hms}}</td>
            <td class="{{um_summary['status']}}">{{um_summary["status"]}}</td>
            <td>{{um_summary["files"]|none_as_blank}}</td>
        {% endif %}
    </tr>
{% endfor %}
            
</table>

<script type="text/javascript">
    var counts_receiver = {
        data_received: function(counts) {
            for ( rse in counts )
            {
                var info = counts[rse];
                var um_total = info.um_total;
                var cc_total = info.cc_total;
                var um_errors = um_total-info.um_success;
                var cc_errors = cc_total-info.cc_success;
                
                if( um_total > 0 )
                {
                    //var o = document.getElementById(rse+"_um_errors");
                    //if( o == null )
                    //    console.log("can not find UM td for rse "+rse);
                    //if( um_errors )
                    //    o.innerHTML = "" +  um_errors + "/" + um_total;
                    //else
                    //    o.innerHTML = "0";
                    display_status_chart(rse+"_um_status_chart", info.um_status);
                    
                }
                
                if( cc_total > 0 )
                {
                    //var o = document.getElementById(rse+"_cc_errors");
                    //if( o == null )
                    //    console.log("can not find CC td for rse "+rse);
                    //if ( cc_errors )
                    //    o.innerHTML = "" +  cc_errors + "/" + cc_total;
                    //else
                    //    o.innerHTML = "0";
                    display_status_chart(rse+"_cc_status_chart", info.cc_status);
                }
            }
        }
    };
    
    var request=HTTPRequest("./success_counts", counts_receiver, null, "json");
    
</script>
    
    
    
    

{% endblock %}
