{% extends 'base.html' %}

{% block content %}

<h1>RSE:{{rse}} Run:{{run}}</h1>


<table class="placement" style="width:100%">
    <tr>
        <td>            
            <h2>Run statistics</h2>
            {% for part, part_stats in stats %}
                <h3>{{part}}</h3>
                <pre style="font: 12px courier;">{{part_stats|as_json}}
                </pre>
            {% endfor %}
        </td>
        <td>
            <h2>Missing files</h2>

            {% for f in missing %}
                <div id="missing_list">
                    <span class="lfn">{{f}}</span><br/>
                </div>
            {% endfor %}

            <h2>Dark files</h2>

            {% for f in dark %}
                <div id="dark_list">
                    <span class="lfn">{{f}}</span><br/>
                </div>
            {% endfor %}
        </td>
    </tr>
</table>

{% endblock %}
