{% extends 'base.html' %}

{% block html_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block headline %}RSE {{rse}}{% endblock %}


{% block link_menu %}<a href="./index">home</a>{% endblock %}



{% block content %}

<table class="placement">
    <tr>
        <td colspan=2 style="padding-top: 30px"><h1>Consistency Checking</h1>
        </td>
    </tr>
	<tr>
		<td>
			<table class="data">
    
    
			    <tr>
			        <th rowspan=2>Run</th><th rowspan=2>Start time</th><th rowspan=2>Status</th><th colspan=3>Missing</th><th colspan=4>Dark</th>
			    </tr>
			    <tr>
			        <th>Detected</th><th>Acted</th><th>Action status</th>
			        <th>Detected</th><th>Confirmed</th><th>Acted</th><th>Action status</th>
			    </tr>
			    {% for t, info in cc_runs %}
			        <tr>
			            <td><a href="./show_run?rse={{rse}}&run={{t}}" class="run">{{t}}</a></td>
			            <td>{{info["start_time"]|as_dt}}</td>
			            <td class="{{info['status'] or ''}}">
                            {%- if info["status"] == "started" and "running" in info -%}
                                {{info["running"] or ""}} started
                            {%- else -%}
                                {{info["status"] or ""}}
                            {%- endif -%}
                        </td>
			            <td>{{info["nmissing"]|none_as_blank}}</td>
                        <td>{{info["acted_missing"]|none_as_blank}}</td>
                        <td class="{{info['missing_status']|none_as_blank}}">{{info["missing_status"]|none_as_blank}}</td>
			            <td>{{info["ndark"]|none_as_blank}}</td>
			            <td>{{info["confirmed_dark"]|none_as_blank}}</td>
                        <td>{{info["acted_dark"]|none_as_blank}}</td>
                        <td class="{{info['dark_status']|none_as_blank}}">{{info["dark_status"]|none_as_blank}}</td>
			        </tr>
			    {% endfor %}
    
			</table>
		</td>
		<td style="padding:1px 50px">
			<div id="cc_chart"></div>
			<script type="text/javascript">
						
				function drawCCChart()
				{
    				// runs is in reversed order
    				var data = [
    					{% for t, info in cc_runs|reverse %}
                        {{',' if not loop.first }}
                        [	    new Date({{info["start_time_milliseconds"]}}), 
    							{{info["ndark"] if info["ndark"] is not none else "null"}},
    							{{info["nmissing"] if info["nmissing"] is not none else "null"}}
    						]
    					{% endfor %}
    				];
				
    				var options = {
                              title: 'Statistics by run',
                              legend: { position: "top" },
                              width: 600,
                              height: 300,
    						  colors: ["#888", "FA8"],
                              hAxis: {
                                  format: "M/d/yy"
                              }
    				        };
                            
                    var dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('date', 'Date');
                    dataTable.addColumn('number', 'Detected dark');
                    dataTable.addColumn('number', 'Detected missing');
                    dataTable.addRows(data);
                    
					var chart = new google.visualization.LineChart(document.getElementById('cc_chart'));
					chart.draw(dataTable, options);
				}
			</script>
		</td>
	</tr>

    <tr>
        <td colspan=2 style="padding-top: 30px"><h1>Unmerged Files</h1>
        </td>
    </tr>

	<tr>
		<td>
			<table class="data">
			    <tr>
			        <th rowspan>Run</th><th rowspan>Start time</th><th rowspan>Status</th><th>Files</th>
			    </tr>
                {% for info in um_runs %}
                    <tr>
                        <td><a href="./unmerged/show_run?rse={{rse}}&run={{info['run']}}">{{info["run"]}}</td>
                        <td>{{info["start_time"]|as_dt}}</td>
                        <td class="{{info['status']}}">{{info["status"]}}</td>
                        <td>{{info["files"]|none_as_blank}}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <!-- chart -->
                <div id="um_chart"></div>
                
                <script type="text/javascript">
    				function drawUMChart()
    				{

                        var data = new google.visualization.DataTable();
                        data.addColumn('date', 'Date');
                        data.addColumn('number', 'Files');
                        data.addColumn('number', 'Elapsed time');
                        data.addRows([
                            {% for r in um_runs|reverse %}
                                {% if not r["start_time_milliseconds"] is none %}
                                    {{',' if not loop.first }}[new Date({{r["start_time_milliseconds"]}}), {{r["files"]}}, {{r["elapsed_time_hours"] or 'null'}}]
                                {% endif %}
                            {% endfor %}                    
                        ]);
                        //var date_formatter = new google.visualization.DateFormat({formatType: 'short', timeZone: 0});
                        //date_formatter.format(data, 0)
                        var options = {
                            title: 'Statistics by run',
                            width: 600,
                            height: 300,
                            legend: { position: "top" },
                            series: {
                                0: {    targetAxisIndex: 0    }, 
                                1: {    targetAxisIndex: 1   }
                            },
                            vAxes: {
                                0: {    
                                    title: "Number of files",
                                    viewWindow:{
                                        min:0
                                    },
                                    gridlines: {
                                        color: "#222"
                                    }
                                },
                                1: {    
                                    title: "Elapsed time, hours",
                                    viewWindow:{
                                        min:0
                                    },
                                    gridlines: {
                                        color: "#CCC"
                                    }
                                }
                            },
                            hAxis: {
                                format: "M/d/yy"
                            }
                        };   

    					var chart = new google.visualization.LineChart(document.getElementById('um_chart'));
    					chart.draw(data, options);
    				}
                </script>
        </td>
    </tr>
</table>


<script type="text/javascript">
    function drawCharts()
    {
        drawCCChart();
        drawUMChart();
    }
    google.charts.load('current', {'packages':['line', 'bar', 'corechart']});
    google.charts.setOnLoadCallback(drawCharts);
</script>

{% endblock %}
