{% extends 'base.html' %}

{% block content %}

<h1>RSE:{{rse}} Run:{{run}}</h1>


            <h2>Run statistics</h2>
            
            <h3>DB Dump</h3>
            
            <table class="data">
                <tr>
                    <td></td><th>Before site scan</th><th>After site scan</th>
                </tr>
                <tr>
                    <th>Start time</th><td>{{dbdump_before["start_time"]|as_dt}}</td><td>{{dbdump_after["start_time"]|as_dt}}</td>
                </tr>
                <tr>
                    <th>End time</th><td>{{dbdump_before["end_time"]|as_dt}}</td><td>{{dbdump_after["end_time"]|as_dt}}</td>
                </tr>
                <tr>
                    <th>Elapsed time</th><td>{{dbdump_before["elapsed"]|hms}}</td><td>{{dbdump_after["elapsed"]|hms}}</td>
                </tr>
                <tr>
                    <th>Files</th><td>{{dbdump_before["files"]}}</td><td>{{dbdump_after["files"]}}</td>
                </tr>
                <tr>
                    <th>Directories</th><td>{{dbdump_before["directories"]}}</td><td>{{dbdump_after["directories"]}}</td>
                </tr>
                <tr>
                    <th>Version</th><td>{{dbdump_before["version"]}}</td><td>{{dbdump_after["version"]}}</td>
                </tr>
            </table>
            
            <h3>Site scan</h3>
            <table class="data">
                <tr><th>Start time</th><td>{{scanner["start_time"]|as_dt}}</td></tr>
                <tr><th>End time</th><td>{{scanner["end_time"]|as_dt}}</td></tr>
                <tr><th>Elapsed time</th><td>{{(scanner["end_time"]-scanner["start_time"])|hms}}</td></tr>
                <tr><th>Scanner</th><td>{{scanner["scanner"]["type"]}} {{scanner["scanner"]["version"]}}</td></tr>
                <tr><th>Server address</th><td>{{scanner["server"]}}</td></tr>
                <tr><th>Server root</th><td>{{scanner["server_root"]}}</td></tr>
            </table>

            <p></p>

            <table class="data">
                <tr>
                    <th>Location</th><th>Files</th><th>Directories</th><th>Empty directories</th><th>Elapsed time</th>
                        <th>Failed</th>
                        <th>Error</th><th>Failed subdirectories</th>
                </tr>
                {% for d in scanner_roots %}
                    <tr>
                        <td>{{d["root"]}}</td><td>{{d["files"]}}</td><td>{{d["directories"]}}</td><td>{{d["empty_directories"]}}</td>
                            <td>{{d["elapsed_time"]|hms}}</td>
                            <td>{{"failed" if d["root_failed"]}}</td>
                            <td>{{d["error"] or ""}}</td>
                            <td>{% for s in d["failed_subdirectories"] %}{{s}}<br/>{% endfor %}</td>
                    </tr>
                {% endfor %}
            </table>
            
            <h3>Comparison</h3>
            <table class="data">
                <tr><th>Start time</th><td>{{cmp3["start_time"]|as_dt}}</td></tr>
                <tr><th>End time</th><td>{{cmp3["end_time"]|as_dt}}</td></tr>
                <tr><th>Elapsed time</th><td>{{cmp3["elapsed"]|hms}}</td></tr>
                <tr><th>Version</th><td>{{cmp3["version"]}}</td></tr>
            </table>
                
            
            <h4>Missing files ({{missing|length}})</h4>
            
            {% if not missing %}(none)
            {% else %}
                {% for f in missing %}
                    <div id="missing_list">
                        <span class="lfn">{{f}}</span><br/>
                    </div>
                {% endfor %}
            {% endif %}

            <h4>Dark files ({{dark|length}})</h4>
            {% if not dark %}(none)
            {% else %}
                {% for f in dark %}
                    <div id="dark_list">
                        <span class="lfn">{{f}}</span><br/>
                    </div>
                {% endfor %}
            {% endif %}
            
            <h2>JSON statistics</h2>
            
            {% for part, stats in stats_parts %}
                <h3>{{part}}</h3>
                <pre>
                {{stats|as_json}}
                </pre>
            {% endfor %}

{% endblock %}
