{% extends 'base.html' %}

{% block headline %}RSE:{{rse}} Run:{{run}}{% endblock %}

{% block link_menu %}<a href="./index">home</a>&nbsp;&nbsp;<a href="./show_rse?rse={{rse}}">{{rse}}</a>{% endblock %}

{% block content %}

    {% if errors %}
    
        <h3>Run errors</h3>
        <p class=error>
        {% for e in errors %}
            {{e}}<br/>
        {% endfor %}
        </p>

    {% else %}
            <h3>Steps statistics</h3>
            
            <table class="data">
				<tr>
					<th>Step</th>
					<th>Version</th>
					<th>Start time</th>
					<th>Status</th>
					<th>End time</th>
					<th>Elapsed time</th>
					<th>Files</th>
					<th>Directories</th>
				</tr>
				
				{% for step, step_name, stats in stats_parts %}
					<tr>
						<td>{{step_name}}</td>
						<td>{% if step == "scanner" %}
								{{stats["scanner"]["type"]}}&nbsp;{{stats["scanner"]["version"]}}
							{% else %}
								{% if "version" in stats %}{{stats["version"]}}{% endif %}
							{% endif %}
						</td>
						<td>{% if "start_time" in stats %}{{stats["start_time"]|as_dt|default("")}}{% endif %}</td>
						<td class="{{stats['status'] or ''}}">
                            {%- if step == "scanner" and "scanning" in stats -%}
                                scanning "{{stats["scanning"]["root"]}}" {{(time_now - stats["scanning"]["start_time"])|hms}}
                            {%- else -%}
                                {{stats["status"]}}
                            {%- endif -%}
                        </td>
						<td>{% if "end_time" in stats %}{{stats["end_time"]|as_dt|default("")}}{% endif %}</td>
						<td>{{stats["elapsed"]|hms or (time_now-stats["start_time"])|hms}}</td>
						<td>
							{%- if step == "dbdump_before" or step == "dbdump_after" %}{{stats["files"]|default("")}}
							{%- elif step == "scanner" %}{{stats["total_files"]|default("")}}
							{%- elif step == "cmp3" -%}
								{%- if stats["dark"] is not none %}&nbsp;dark: {{stats["dark"]}}{% endif -%}
								{%- if stats["missing"] is not none %}&nbsp;missing: {{stats["missing"]}}{% endif -%}
                            {%- elif step == "cmp2dark" and stats is not none -%}
                                confirmed:&nbsp;{{ stats["confirmed_dark_files"]|default("")}}
							{%- endif -%}
						</td>
						<td>
							{%- if step == "dbdump_before" or step == "dbdump_after" %}{{stats["directories"]|default("")}}
							{%- elif step == "scanner" %}{{stats["total_directories"]|default("")}}
							{%- endif -%}
						</td>
					</tr>
				{% endfor %}
            </table>
            
			{% if scanner is not none %}
			
	            <h3>Site scan details</h3>
	            <table class="data">
	                <tr><th>Server address</th><td>{{scanner["server"]}}</td></tr>
	                <tr><th>Server root</th><td>{{scanner["server_root"]}}</td></tr>
	            </table>

	            <p></p>

	            <table class="data">
	                <tr>
	                    <th>Location</th><th>Files</th><th>Directories</th><th>Empty directories</th><th>Elapsed time</th>
	                        <th>Error</th>
	                </tr>
	                {% for d in scanner_roots %}
	                    <tr>
	                        <td>{{d["root"]}}</td><td>{{d["files"]}}</td><td>{{d["directories"]}}</td><td>{{d["empty_directories"]}}</td>
	                            <td>{{d["elapsed_time"]|hms}}</td>
	                            <td style="text-align:left">{{d["error"] or ""}}</td>
	                    </tr>
	                {% endfor %}
	            </table>

			{% endif %}
			
			{% if cmp3 is not none %}
            
	            <h3>Comparison results</h3>
            
	            <script type="text/javascript">
	                function show(lst)
	                {
	                    var o = document.getElementById(lst+"_list");
	                    if( o )
	                        o.classList.toggle("shown");
	                    o = document.getElementById(lst+"_list_toggle");
	                    if( o.innerHTML == "hide" )
	                        o.innerHTML = "show";
	                    else
	                        o.innerHTML = "hide";
	                };
	            </script>

	            <table class="data">
	                <tr>
	                    <th>Missing files</th><td>{{nmissing}}</td>
	                    <td>{% if missing %}<a href="#missing_list_ref" id="missing_list_toggle" onclick="show('missing')">show</a>{% endif %}</td>
	                    <td>{% if missing %}<a href="./missing/missing_list_{{rse}}_{{run}}.txt?rse={{rse}}&run={{run}}">download</a>{% endif %}</td>
	                </tr>
	                <tr>
	                    <th>Dark files</th><td>{{ndark}}</td>
	                    <td>{% if dark %}<a href="#dark_list_ref" id="dark_list_toggle" onclick="show('dark')">show</a>{% endif %}</td>
	                    <td>{% if dark %}<a href="./dark/dark_list_{{rse}}_{{run}}.txt?rse={{rse}}&run={{run}}">download</a>{% endif %}</td>
	                </tr>
	            </table>
            
	            {% if missing %}
            
	            <div id="missing_list" class="hidden">
	                <a id="missing_list_ref"></a>
	                <h4>Missing files {% if missing_truncated %} (truncated){% endif %}</h4>
	                {% for f in missing %}
	                    <span class="lfn {{f|path_type}}">{{f}}</span><br/>
	                {%- endfor %}
	            </div>
            
	            {% endif %}
            
	            {% if dark %}

	            <div id="dark_list" class="hidden">
	                <a id="dark_list_ref"></a>
	                <h4>Dark files{% if dark_truncated %} (truncated){% endif %}</h4>
	                {% for f in dark %}
	                    <span class="lfn {{f|path_type}}">{{f}}</span><br/>
	                {%- endfor %}
	            </div>
            
	            {% endif %}
            
	{% endif %}	{# if cmp3 is not none #}

    {% endif %} {# errors #}

    <h3>Raw JSON statistics</h3>
    
        <pre class="code">
        {{stats|as_json}}
        </pre>


{% endblock %}
