{% extends 'base.html' %}

{% block html_head %}
    <script type="text/javascript" src="./static/js/request.js"></script>
{% endblock %}


{% block content %}

{#
    {% for r in rses %}
        <p><a href="./show_rse?rse={{r}}">{{r}}</a></p>
    {% endfor %}
#}

<p><span style="color:gray">sort by:</span>
    [<a href="?sort=rse">RSE</a>]
    [CE run: <a href="?sort=-cc_run">latest</a> | <a href="?sort=cc_run">oldest</a>]
    [Unmerged run:  <a href="?sort=-um_run">latest</a> | <a href="?sort=um_run">oldest</a>]
</p>


<script type="text/javascript">

    var DX = 5;
    var DY0 = 4;
    var DY = DY0*3;
    var N = 10;

    var colors={
        "started": "#AAF", 
        "done": "#AFA", 
        "failed": "#FAA", 
        "aborted": "#EDA",
        "null": "#FFF",
        "other": "#BBB" 
    };
    
    function cell_color(sts)
    {
        if( sts == null )   sts = "null";
        var color = colors[sts];
        if( color == null )
            color=colors["other"];
        return color;
    }
    
    function display_um_status_chart(id_prefix, status_list)
    {
        var td = document.getElementById(id_prefix+"_td");
        if ( td == null )
            return;
        
        var loading_img = document.getElementById(id_prefix+"_loading");
        td.removeChild(loading_img);
        
        var canvas = document.createElement("canvas");
        var n = Math.min(N, status_list.length);
        canvas.setAttribute("height", DY);
        canvas.setAttribute("width", DX*N);
        
        var x = DX*(N-n);
        var ctx = canvas.getContext("2d");
        ctx.clearRect(0,0,DX*N,DY);      
        for( var i = 0; i < n; i++ )
        {
            var sts = status_list[i];
            var color = cell_color(sts);
            ctx.fillStyle = color;
            ctx.fillRect(x,0,DX,DY);
            x += DX;
        }
        td.appendChild(canvas);
    };
    
    function init_status_chart(id_prefix)
    {
        return;
        
        var canvas = document.getElementById(canvas_id);
        if( canvas == null )
            return;

        var img = document.createElement("IMG");
        img.setAttribute("src", "./static/images/loading.gif");
        img.setAttribute("width", 40);
        img.setAttribute("height", 12);
        img.setAttribute("id", id_prefix + "_loading");
        loading_images.push(img);
        
        var td = document.getElementById(id_prefix + "_td");
        td.appendChild(img);
    };
    
    var rse_list = [];
    
</script>



<table class="data" id="data">

<tr>
    <th>RSE</th>
    <th>History</th>
    <th>Last run</th>
    <th>Elapsed time</th>
    <th>Status</th>
    <th>Files</th>
    <th>Size</th>
</tr>


{% for rse, um_summary in infos %}
    
    <script type="text/javascript">
        rse_list.push("{{rse}}");
    </script>
    
    <tr>
        <td><a href="./show_rse?rse={{rse}}">{{rse}}</a></td>
        <td id="{{rse}}_um_status_td" style="vertical-align: middle; text-align: center">
            <img src="./static/images/loading.gif" height=4 id="{{rse}}_um_status_loading"/>
        </td>
        <script type="text/javascript">
            init_status_chart("{{rse}}_um_status");
        </script>

        <td><a href="./show_run?rse={{rse}}&run={{um_summary['run']}}">{{um_summary['start_time']|as_date}}</a></td>
        <td>{{um_summary['elapsed_time']|hms}}</td>
        <td class="{{um_summary['status']}}">{{um_summary["status"]}}</td>
        <td>{{um_summary["files"]|none_as_blank}}</td>
        <td>{% if not um_summary["total_size_gb"] is none %}
                {{um_summary["total_size_gb"]|format_gigabytes}}
            {% endif %}
        </td>
    </tr>
{% endfor %}
            
</table>

<script type="text/javascript">
    var history_receiver = {
        data_received: function(hist) {
            for ( rse in hist )
            {
                var info = hist[rse];
                var um_total = info.um_total;
                var cc_total = info.cc_total;
                var um_errors = um_total-info.um_success;
                var cc_errors = cc_total-info.cc_success;
                
                if( um_total > 0 )
                    display_um_status_chart(rse+"_um_status", info.um_status_history.slice(-N));
                
                if( cc_total > 0 )
                    display_cc_status_chart(rse+"_cc_status", info.cc_status_history.slice(-N));
            }
        }
    };
    
    function request_info(rse_lst)
    {
        var batch_size = 10;

        function batch_requests(url_base, rse_list, batch_size, receiver)
        {
            // randomize
            var randomized = rse_lst.sort(() => Math.random() - 0.5);
            var batch = [];
            var requests = [];
            for( rse of randomized )
            {
                batch.push(rse);
                if( batch.length >= batch_size )
                {
                    var url = url_base + "?rses=" + batch.join(",");
                    requests.push(HTTPRequest(url, receiver, null, "json"));
                    batch = [];
                }   
            }
            if( batch.length > 0 )
            {
                var url = url_base + "?rses=" + batch.join(",");
                requests.push(HTTPRequest(url, receiver, null, "json"));
            }
            return requests;
        }
        batch_requests("./status_history", rse_list, 20, history_receiver);
    }
    
    var requests=request_info(rse_list);
    //HTTPRequest("./status_history", history_receiver, null, "json");
    
</script>
    
    
    
    

{% endblock %}
