{% extends 'base.html' %}

{% block html_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block title %}CMS Unmerged Files{% endblock %}


{% block headline %}RSE {{rse}}{% endblock %}


{% block content %}

<table class="placement">
	<tr>
		<td>
			<table class="data">
			    <tr>
			        <th rowspan>Run</th><th rowspan>Start time</th><th rowspan>Status</th><th>Files</th><th>Size, TB</th>
			    </tr>
                {% for run, summary in summaries %}
                    <tr>
                        <td><a href="./unmerged/show_run?rse={{rse}}&run={{info['run']}}">{{summary["run"]}}</td>
                        <td>{{summary["start_time"]|as_dt}}</td>
                        <td class="{{info['status']}}">{{summary["status"]}}</td>
                        <td>{{summary["files"]|none_as_blank}}</td>
                        <td>{% if not summary["total_size_gb"] is none %}
                                {{"%.3f"|format(summary["total_size_gb"]/1024.0)}}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
        
        <td>
                <!-- UM charts -->
                <div id="um_space_chart"></div>
                
        </td>
        <td>
                <div id="um_time_chart"></div>
                
        </td>
        
    </tr>
</table>


<script type="text/javascript">
	function drawUMSpaceChart()
	{

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Files');
        data.addColumn('number', 'Size, TB');
        data.addRows([
            {% for r in um_runs|reverse %}
                {% if not r["start_time_milliseconds"] is none %}
                    {{',' if not loop.first -}}
                    [
                        new Date({{r["start_time_milliseconds"]}}), 
                            {%- if r["files"] is none %}null{% else %}{{r["files"]}}{% endif %}, 
                            {%- if r["total_size_gb"] is none %}null{% else %}{{r["total_size_gb"]/1024.0}}{% endif %}
                    ]
                {% endif %}
            {% endfor %}                    
        ]);
        //var date_formatter = new google.visualization.DateFormat({formatType: 'short', timeZone: 0});
        //date_formatter.format(data, 0)
        var options = {
            title: 'Space',
            width: 400,
            height: 300,
            legend: { position: "top" },
            series: {
                0: {    targetAxisIndex: 0,    
                    color: "#46A"
                }, 
                1: {    targetAxisIndex: 1,
                    color: "#4A6"
                   }
            },
            vAxes: {
                0: {    
                    title: "Number of files",
                    logScale: true,
                    viewWindow:{
                        min:0
                    },
                    gridlines: {
                        color: "#ABD"
                    }
                },
                1: {    
                    title: "Space occupied, TB",
                    logScale: true,
                    viewWindow:{
                        min:0
                    },
                    gridlines: {
                        color: "#ADB"
                    }
                }
            },
            hAxis: {
                title: "Date",
                format: "M/d/yy"
            }
        };   

		var chart = new google.visualization.LineChart(document.getElementById('um_space_chart'));
		chart.draw(data, options);
	}

	function drawUMTimeChart()
	{

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Elapsed time');
        data.addRows([
            {% for r in um_runs|reverse %}
                {% if not r["start_time_milliseconds"] is none %}

                    {{',' if not loop.first }}[new Date({{r["start_time_milliseconds"]}}), {{r["elapsed_time_hours"] or 'null'}}]
                {% endif %}
            {% endfor %}                    
        ]);
        //var date_formatter = new google.visualization.DateFormat({formatType: 'short', timeZone: 0});
        //date_formatter.format(data, 0)
        var options = {
            title: 'Scan time',
            width: 400,
            height: 300,
            legend: { position: "top" },
            vAxis: {
                    title: "Time, hours",
                    viewWindow:{
                        min:0
                    },
                    gridlines: {
                        color: "#CCC"
                    },
                    logScale: true
            },
            hAxis: {
                title: "Date",
                format: "M/d/yy"
            }
        };   

		var chart = new google.visualization.LineChart(document.getElementById('um_time_chart'));
		chart.draw(data, options);
	}

    function drawCharts()
    {
        drawUMTimeChart();
        drawUMSpaceChart();
    }
    google.charts.load('current', {'packages':['line', 'bar', 'corechart']});
    google.charts.setOnLoadCallback(drawCharts);
</script>

{% endblock %}
