{% extends 'base.html' %}

{% block html_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block title %}Unmerged Files Monitor{% endblock %}

{% block link_menu %}<a href="./index">Home</a>{% endblock %}

{% block headline %}Latest run for RSE {{rse}}{% endblock %}

{% block content %}

{% if latest_stats is none %}
    <p>RSE {{rse}} not found</p>
{% else %}
    <table class=placement>
        <tr>
            <td style="padding:20 20">
                <table class="form">    
                    <tr>    <th>Run</th><td>{{latest_stats["run"]}}</td> </tr>
                    <tr>    <th>Server</th><td>{{latest_stats["server"]}}</td>  </tr>
                    <tr>    <th>Server root</th><td>{{latest_stats["server_root"]}}</td>  </tr>
                    <tr>    <th>Start time</th><td>{{latest_stats["start_time"]|as_dt}}</td>  </tr>
                    
                    {% if latest_stats["error"] %}
                        <tr>    <th>Status</th><td>{{latest_stats["status"]}}</td>  </tr>
                        <tr>    <th>Error</th><td>{{latest_stats["error"] or ''}}</td>  </tr>
                    {% else %}
                        <tr>    <th>End time</th><td>{{latest_stats["end_time"]|as_dt}}</td>  </tr>
                        <tr>    <th>Elapsed time</th>
                                <td>{% if latest_stats["end_time"] and latest_stats["start_time"] -%} 
                                        {{(latest_stats["end_time"]-latest_stats["start_time"])|hms}} 
                                    {%- endif -%}</td>  
                        </tr>
                        <tr>    <th>Status</th><td>{{latest_stats["status"]}}</td>  </tr>
                        <tr>    <th>Files</th>
                            <td>{{latest_stats["files"]}} 
                            <a href="./files/{{rse}}_wm_file_list.gz?rse={{rse}}&format=raw">gzip</a>
                            <a href="./files/{{rse}}_wm_file_list.json?rse={{rse}}&format=json">json</a>
                            <a href="./files/{{rse}}_wm_file_list.txt?rse={{rse}}&format=text">text</a>
                            <a href="./files?rse={{rse}}&format=zip-stream">zip stream</a>
                        </td>
                        </tr>
                        <tr>    <th>Directories</th><td>{{latest_stats["directories"]}}</td>  </tr>
                        <tr>    <th>Empty directories</th><td>{{latest_stats["empty_directories"]}}</td>  </tr>
                    {% endif %}
                </table>
            </td>
            <td style="padding:20 20">
                <!-- chart -->
                <div id="stats_chart"></div>
                
                <script type="text/javascript">
    		        google.charts.load('current', {'packages':['line', 'corechart']});
    		        google.charts.setOnLoadCallback(drawChart);
                    
    				function drawChart()
    				{

                        var data = new google.visualization.DataTable();
                        data.addColumn('date', 'Date');
                        data.addColumn('number', 'Files');
                        data.addColumn('number', 'Elapsed time');
                        data.addRows([
                            {% for r in stats_by_run %}
                                {{',' if not loop.first }}[new Date({{r["start_time_miliseconds"]}}), {{r["files"]}}, {{r["elapsed_time"]}}]
                            {% endfor %}                    
                        ]);
                        //var date_formatter = new google.visualization.DateFormat({formatType: 'short', timeZone: 0});
                        //date_formatter.format(data, 0)
                        var options = {
                            title: 'Statistics by run',
                            width: 600,
                            height: 300,
                            series: {
                                0: {    targetAxisIndex: 0    }, 
                                1: {    targetAxisIndex: 1   }
                            },
                            vAxes: {
                                0: {    
                                    title: "Number of files",
                                    viewWindow:{
                                        min:0
                                    },
                                    gridlines: {
                                        color: "#222"
                                    }
                                },
                                1: {    
                                    title: "Elapsed time, hours",
                                    viewWindow:{
                                        min:0
                                    },
                                    gridlines: {
                                        color: "#CCC"
                                    }
                                }
                            },
                            hAxis: {
                                format: "M/d/yy"
                            }
                        };   
                    


    					var chart = new google.visualization.LineChart(document.getElementById('stats_chart'));
    					chart.draw(data, options);
    				}
                </script>
            </td>
        </tr>
    </table>

    <h3>Raw JSON statistics</h3>
    
    <pre class="code">
        {{raw_latest_stats|as_json}}
    </pre>

                
{% endif %}


{% endblock %}
