{% extends 'base.html' %}

{% block html_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block title %}Unmerged Files Monitor{% endblock %}

{% block link_menu %}<a href="./index">Home</a>{% endblock %}

{% block headline %}RSE:{{rse}} Run:{{run}}{% endblock %}

{% block content %}

<table class="form">    
    <tr>    <th>Run</th><td>{{run_stats["run"]}}</td> </tr>
    <tr>    <th>Server</th><td>{{run_stats["server"]}}</td>  </tr>
    <tr>    <th>Server root</th><td>{{run_stats["server_root"]}}</td>  </tr>
    <tr>    <th>Start time</th><td>{{run_stats["start_time"]|as_dt}}</td>  </tr>
    
    {% if run_stats["error"] %}
        <tr>    <th>Status</th><td>{{run_stats["status"]}}</td>  </tr>
        <tr>    <th>Error</th><td>{{run_stats["error"] or ''}}</td>  </tr>
    {% else %}
        <tr>    <th>End time</th><td>{{run_stats["end_time"]|as_dt}}</td>  </tr>
        <tr>    <th>Elapsed time</th>
                <td>{% if run_stats["end_time"] and run_stats["start_time"] -%} 
                        {{(run_stats["end_time"]-run_stats["start_time"])|hms}} 
                    {%- endif -%}</td>  
        </tr>
        <tr>    <th>Status</th><td>{{run_stats["status"]}}</td>  </tr>
        <tr>    <th>Files</th>
            <td>
                {{run_stats["files"]}} 
                {% if is_latest_run %}
                    <a href="./files/{{rse}}_wm_file_list.gz?rse={{rse}}&format=raw">gzip</a>
                    <a href="./files/{{rse}}_wm_file_list.json?rse={{rse}}&format=json">json</a>
                {% endif %}
        </td>
        </tr>
        <tr>    <th>Directories</th><td>{{run_stats["directories"]}}</td>  </tr>
        <tr>    <th>Empty directories</th><td>{{run_stats["empty_directories"]}}</td>  </tr>
        <tr>    <th>Total size, GB</th><td>{{run_stats["total_size_gb"]|none_as_blank}}
    {% endif %}
</table>

<h3>Raw JSON statistics</h3>

<pre class="code">
    {{raw_stats|as_json}}
</pre>

                


{% endblock %}
