database:		# optional. rucio.cfg can be used instead 
        host:           cmsr1-s.cern.ch
        port:           10121
        service:        cmsr.cern.ch
        schema:         CMS_RUCIO_INT
        user:           cms_rucio_int_r
        password:       "password"

rses:
  "*": # default
    partitions:     5
    scanner:
      include_sizes: yes
      recursion:      1
      nworkers:        8
      timeout:        300
      server_root: /store/
      remove_prefix: /
      add_prefix: /store/
      roots:
      - path: express
        ignore:
            - path/relative/to/root
      - path: mc
      - path: data
      - path: generator
      - path: results
      - path: hidata
      - path: himc
      - path: relval
    dbdump:
      path_root:   /
      ignore:
          - path1
          - path2
  T0_CH_CERN_Disk:
    scanner:
      include_sizes: no
      server: eoscms.cern.ch
      server_root: /eos/cms/tier0/store/
  T1_DE_KIT_Disk:
    scanner:
      server: cmsxrootd-kit.gridka.de:1094
  T1_ES_PIC_Disk:
    scanner:
      server: xrootd-cmst1-door.pic.es
  T1_FR_CCIN2P3_Disk:
    scanner:
      server: ccxrdcms.in2p3.fr:1094
      server_root: /pnfs/in2p3.fr/data/cms/disk/data/store/
  T1_IT_CNAF_Disk:
    scanner:
      server: xs-302.cr.cnaf.infn.it
  T1_RU_JINR_Disk:
    scanner:
      server: xrootd01.jinr-t1.ru:1094
      server_root: /pnfs/jinr-t1.ru/data/cms/store/
  T1_US_FNAL_Disk:
    scanner:
      server: cmsdcadisk.fnal.gov
      server_root: /dcache/uscmsdisk/store/
      roots:
      - path: express
        ignore:
            - path/relative/to/root
      - path: mc
      - path: data
