database:		# optional. rucio.cfg can be used instead 
        host:           cmsr1-s.cern.ch
        port:           10121
        service:        cmsr.cern.ch
        schema:         CMS_RUCIO_INT
        user:           cms_rucio_int_r
        password:       "password"

rses: 
        "*": # default
                partitions:     5
                scanner:
                        recursion:      3
                        workers:        5
                        timeout:        30
                dbdump:
                        path_root:   /  # default

        T2_US_Purdue_Test:
                scanner: 
                        recursion:      3       # defaults for all roots
                        workers:        5
                        timeout:        30
                        server:         xrootd.rcac.purdue.edu
                        server_root:    /store/test/rucio/int/cms/store
                        remove_prefix:  /            # should end with "/",  can be used in simple cases instead of REs in "rewrite"
                        add_prefix:     /store       # should be terminated with /

                        # filter: .*                 # default
                        # filter: NANOAOD            # only paths where the patern is found will pass
                                                     # if exact match is needed, use ^
                        
                        # more flexible alternative to remove/add prefix, using regexp:
                        # rewrite:                  # Path to LFN mapping, will be applied *after* remove/add prefix
                        #    path: "^/(.*)"
                        #    out: "/store/($1)"

                        roots:   
                            -   path: mc            # always relative to server_root
                                recursion:      2   # root specific settings
                            -   path: data          # always relative to server_root
                        
                            
        ProtoDUNE_NP04:
                scanner: 
                        server: eospublic.cern.ch
                        roots:   
                            -   path: /eos/experiment/neutplatform/protodune/rawdata/np04
                                
        ProtoDUNE_NP02:
                scanner: 
                        server: eospublic.cern.ch
                        root:   /eos/experiment/neutplatform/protodune/rawdata/np02
        FNAL_dCache:
                scanner:
                        server: cmsdcadisk.fnal.gov
                        root: /dcache/uscmsdisk/store/mc
                        recursion:      2
                        workers:        5
                        timeout:        30
                        remove_prefix: /dcache/uscmsdisk



